#Name= Sachin Kalra 
#Author= Madiha Kazmi
#Date created= 5 october 2022
#Date last modified= 5 october 2022
#purpose: this program will ask user to input the username and then it will calculate the length of the 
#data entered by the user to check if it meets the requirements defined in the task 
username = input("enter your name:") 
print(username .strip().capitalize())
# when the length of data entered by the user is less than 1, it will display this message
if len(username)<= 1:
     input("sorry username must be longer than one letter")
# if  the length of name entered by user exceed 21, it will show following message
elif len(username)>=21:
        input("Sorry, username cannot be more than 20 letters in length.") 
# if the length of  data entered by user is between 1 to 20, it will display the length of the name         
else:       
    print("your name is" , len(username), "long")
    
